/* Propiedades globales de todo el proyecto */
*{
	padding: 0;
	margin: 0;
	font-family: Roboto,"Helvetica Neue",sans-serif;
}
header, section{
	width: 100%;
	box-sizing: border-box;
	display: flex;
}